<html>
  <head>
    <meta charset="utf-8">
    <title>Project Data</title>
  </head>
  <body>
    <h1>Project Data</h1>
    <ul>
      <li>Wysokość: {{ height }}</li>
      <li>Długość: {{ length }}</li>
      <li>Szerokość: {{ width }}</li>
      <li>Materiał Sufitu: {{ sufit }}</li>
      <li>Materiał Ściany Lewej: {{ wall1_material }}</li>
      <li>Materiał Ściany Prawej: {{ wall2_material }}</li>
      <li>Materiał Ściany Frontowej: {{ front_wall_material }}</li>
      <li>Materiał Ściany Tylnej: {{ back_wall_material }}</li>
      <li>Materiał Podłogi: {{ floor_material }}</li>
      <li>Materiały:</li>
      <ul>
        {% for material in material_list %}
          <li>{{ material }}</li>
        {% endfor %}
      </ul>
    </ul>
  </body>
</html>