!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Data</title>
  </head>
  <body>
    <h1>Project Data</h1>
    <ul>
      <li>Height: {{ height }}</li>
      <li>Length: {{ length }}</li>
      <li>Width: {{ width }}</li>
      <li>Ceiling Material: {{ sufit }}</li>
      <li>Wall 1 Material: {{ wall1_material }}</li>
      <li>Wall 2 Material: {{ wall2_material }}</li>
      <li>Front Wall Material: {{ front_wall_material }}</li>
      <li>Back Wall Material: {{ back_wall_material }}</li>
      <li>Floor Material: {{ floor_material }}</li>
      <li>Interior Equipment: {{ interior_equipment }}</li>
      <li>Project Name: {{ project_name }}</li>
      <li>Norms: {{norm}}</li>
    </ul>
  </body>
</html>