{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Data</title>
  </head>
  <body>
    <h1>Project Data</h1>
    <ul>
      <li>Nazwa projektu: {{ project_name }}</li>
      <li>Norma: {{ norm }}</li>
      <li>Spełnia normę: {{ up_to_norm }}</li>
      <li>Wysokość: {{ height }}</li>
      <li>Długość: {{ length }}</li>
      <li>Szerokość: {{ width }}</li>
      <li>Materiał Sufitu: {{ sufit }}</li>
      <li>Materiał Ściany Lewej: {{ wall1_material }}</li>
      <li>Materiał Ściany Prawej: {{ wall2_material }}</li>
      <li>Materiał Ściany Frontowej: {{ front_wall_material }}</li>
      <li>Materiał Ściany Tylnej: {{ back_wall_material }}</li>
      <li>Materiał Podłogi: {{ floor_material }}</li>
      <li>Wyposażenie: {{ furniture }}</li>
    </ul>

  <button type="button" class="btn btn-secondary"> Get PDF</button>
  </body>
</html>
{% endblock %}