{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}


<div class="form-group">
  <label for="norms">Wybierz normę budowlaną</label>
  <select class="form-control" id="projects" name="selected_project" onchange="updateSelectedProject() ">
  <option value = "None">Wybierz opcje</option>
  {% for project in projects %}
  {% if project.id == project_value %}
    <option value="{{ project.name }}" selected>{{ project.name }}</option>
  {% else %}
    <option value="{{ project.name }}">{{ project.name }}</option>
  {% endif %}
{% endfor %}
  </select>
</div>


<form id="display-project-form" method="post" action="{{ url_for('views.display_new_project', project_name=selected_project) }}">
  <input type="hidden" name="selected_project" id="selected-project-input" value="{{selected_project}}">
  <button type="submit" class="btn btn-secondary">Wyświetl projekt</button>
</form>
<form id="delete_project" method="post" action="{{ url_for('views.delete_project', project_name=selected_project) }}">
  <input type="hidden" name="selected_project1" id="selected-project-input1" >
  <button type="submit">Usuń projekt</button>
</form>

<script>
 function updateSelectedProject() {
  var selected_project = document.getElementById("projects").value;
  document.getElementById("selected-project-input").value = selected_project;
}

  var displayProjectForm = document.getElementById("display-project-form");
  displayProjectForm.addEventListener("submit", function(event) {
    event.preventDefault();
    var selectedValue = document.getElementById("selected-project-input").value;
    if (selectedValue != 'None' && selectedValue != ""){
      window.location.href = "/newproject/display/" + selectedValue;
    }

  });
   var deleteProject = document.getElementById("delete_project");
  deleteProject.addEventListener("submit", function(event) {
    event.preventDefault();
    var selectedValue = document.getElementById("selected-project-input").value;
    if (selectedValue != "None" && selectedValue != ""){
        window.location.href = "/delete/" + selectedValue;
     }
  });
</script>



{% endblock %}