{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<button type="button" class="btn btn-secondary" onClick="location.href='/newproject'">New Project</button>
<button type="button" class="btn btn-secondary" onClick="location.href='/'">New Project</button>

<h1 align="center">Projects</h1>
<div class="form-group">
    <label for="norms">Wybierz projekt</label>
    <select class="form-control" id="norms" name="projects">
      {% for project in projects %}
        {% if project.id == project_value %}
          <option value="{{ project.id }}" selected>{{ project.name }}</option>
        {% else %}
          <option value="{{ project.id }}">{{ project.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
{% endblock %}

