{% extends "base.html" %}
{% block title %}Measurement Form{% endblock %}
{% block content %}

<form method="POST">
  <h3 align="center">Projekt pomieszczenia</h3>
  <div class="form-group">
    <label for="norms">Wybierz norme budowlaną</label>
    <select class="form-control" id="norms" name="norms">
        {% for norm in norms %}
            <option value="{{ norm.id }}">{{ norm.name }}</option>
        {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="length">Długość pokoju</label>
    <input
      type="number"
      class="form-control"
      id="length"
      name="length"
      placeholder="Wpisz długość pokojuh"
    />
  </div>
  <div class="form-group">
    <label for="width">Szerokość pokoju</label>
    <input
      type="number"
      class="form-control"
      id="width"
      name="width"
      placeholder="Wpisz szerokość pokoju"
    />
  </div>
  <div class="form-group">
    <label for="height">Wysokość pokoju</label>
    <input
      type="number"
      class="form-control"
      id="height"
      name="height"
      placeholder="Wpisz wysokość pokoju"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Zapisz projekt</button>
</form>
{% endblock %}