{% extends "base.html" %}
{% block title %}Measurement Form{% endblock %}
{% block content %}

<form method="POST">
  <h3 align="center">Projekt pomieszczenia</h3>
  <div class="form-group">
    <label for="norms">Wybierz norme budowlaną</label>
    <select class="form-control" id="norms" name="norms">
        {% for norm in norms %}
            <option value="{{ norm.id }}">{{ norm.name }}</option>
        {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="length">Długość pokoju</label>
    <input
      type="number"
      class="form-control"
      id="length"
      name="length"
      placeholder="Wpisz długość pokoju"
    />
  </div>
  <div class="form-group">
    <label for="width">Szerokość pokoju</label>
    <input
      type="number"
      class="form-control"
      id="width"
      name="width"
      placeholder="Wpisz szerokość pokoju"
    />
  </div>
  <div class="form-group">
    <label for="height">Wysokość pokoju</label>
    <input
      type="number"
      class="form-control"
      id="height"
      name="height"
      placeholder="Wpisz wysokość pokoju"
    />
  </div>
   <div class="form-group">
    <label for="sufit">Wybierz sufit</label>
    <select class="form-control" id="sufit" name="sufit" multiple>
        {% for material_ceiling in materials_ceiling %}
            <option value="{{ material_ceiling.id }}" onclick="addMaterial(this)">{{ material_ceiling.name }}</option>
        {% endfor %}
    </select>
  </div>
   <div id="selected-items"></div>
 <script>
    function addMaterial(element) {
        var materialId = element.value;
        var materialName = element.text;
        var selectedMaterials = document.getElementById("material-list");
        var newMaterial = document.createElement("li");
        var removeButton = document.createElement("button");
        removeButton.innerHTML = "x";
        removeButton.setAttribute("onclick", "removeMaterial(this)");
        newMaterial.innerHTML = materialName;
        newMaterial.setAttribute("data-material-id", materialId);
        newMaterial.appendChild(removeButton);
        selectedMaterials.appendChild(newMaterial);
    }

    function removeMaterial(element) {
        element.parentNode.remove();
    }
</script>
  </div>
<div id="selected-materials">
    <h4>Wybrane sufity:</h4>
    <ul id="material-list"></ul>
</div>
</div>
   <div class="form-group">
    <label for="wall1">Wybierz pierwszą ścianę</label>
    <select class="form-control" id="wall1" name="wall1" multiple>
        {% for material_wall in materials_walls %}
            <option value="{{ material_wall.id }}" onclick="addMaterialWall(this)">{{ material_wall.name }}</option>
        {% endfor %}
    </select>
  </div>
  <div id="selected-items"></div>
 <script>
    function addMaterialWall(element) {
        var materialId = element.value;
        var materialName = element.text;
        var selectedMaterials = document.getElementById("material-wall-list");
        var newMaterial = document.createElement("li");
        var removeButton = document.createElement("button");
        removeButton.innerHTML = "x";
        removeButton.setAttribute("onclick", "removeMaterial(this)");
        newMaterial.innerHTML = materialName;
        newMaterial.setAttribute("data-material-id", materialId);
        newMaterial.appendChild(removeButton);
        selectedMaterials.appendChild(newMaterial);
    }

    function removeMaterial(element) {
    element.parentNode.remove();
}
</script>
  </div>
<div id="selected-materials-wall">
    <h4>Wybrane ściany:</h4>
    <ul id="material-wall-list"></ul>
</div>
  <br />
  <button type="submit" class="btn btn-primary">Zapisz projekt</button>
  <button type="checker" class="btn btn-primary">Sprawdź czy pomieszczenie spełnia normy</button>
</form>
{% endblock %}