{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<html >
<table>
  <tr>
    <td>Kolumna 1, Wiersz 1</td>
    <td>Kolumna 2, Wiersz 1</td>
    <td>Kolumna 3, Wiersz 1</td>
    <td>Kolumna 4, Wiersz 1</td>
    <td>Kolumna 5, Wiersz 1</td>
  </tr>
  <tr>
    <td>Kolumna 1, Wiersz 2</td>
    <td>Kolumna 2, Wiersz 2</td>
    <td>Kolumna 3, Wiersz 2</td>
    <td>Kolumna 4, Wiersz 2</td>
    <td>Kolumna 5, Wiersz 2</td>
  </tr>
  <tr>
    <td>Kolumna 1, Wiersz 3</td>
    <td>Kolumna 2, Wiersz 3</td>
    <td>Kolumna 3, Wiersz 3</td>
    <td>Kolumna 4, Wiersz 3</td>
    <td>Kolumna 5, Wiersz 3</td>
  </tr>
</table>

</html>

{% endblock %}
